absl-py==0.3.0
aiohttp==2.2.5
alabaster==0.7.12
alembic==1.0.11
appdirs==1.4.3
args==0.1.0
asn1crypto==0.23.0
astor==0.7.1
async-timeout==1.4.0
atari-py==0.1.1
atomicwrites==1.3.0
attrs==19.1.0
audioread==2.1.6
autograd==1.2
Babel==2.6.0
beautifulsoup4==4.6.3
bleach==1.5.0
blinker==1.4
boto==2.49.0
boto3==1.8.1
botocore==1.11.1
bs4==0.0.1
bz2file==0.98
catboost==0.15.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
clint==0.5.1
cloudpickle==0.5.6
cmake==3.12.0
colorama==0.3.9
configobj==5.0.6
coverage==4.5.1
cryptography==3.2
cvxopt==1.2.3
cycler==0.10.0
Cython==0.28.5
dask==0.19.1
deap==1.2.2
decorator==4.3.0
dimod==0.7.6
Django==2.1.1
dlx==1.0.4
docker==4.0.2
docloud==1.0.369
docplex==2.9.141
docutils==0.14
dominate==2.4.0
dopamine-rl==2.0.0
dotenv==0.0.5
dwave-cloud-client==0.4.15
dwave-neal==0.4.2
dwave-networkx==0.6.5
dwave-ocean-sdk==1.0.1
dwave-qbsolv==0.2.9
dwave-system==0.5.3
dwavebinarycsp==0.0.6
easydict==1.8
elasticsearch==7.0.2
entrypoints==0.2.3
enum34==1.1.6
fastdtw==0.3.2
flake8==3.5.0
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
flipflop==1.0
floyd-cli==0.11.7
future==0.16.0
gast==0.2.0
gensim==3.5.0
gin-config==0.1.2
graphviz==0.11.1
grpcio==1.13.0
guess-language-spirit==0.5.3
gunicorn==19.7.1
gym==0.10.5
gym-super-mario-bros==5.0.0
h5py==2.7.0
homebase==1.0.1
html5lib==0.9999999
IBMQuantumExperience==2.0.1
idna==2.5
image==1.5.24
imageio==2.1.2
imagesize==1.1.0
inflection==0.3.1
intel-openmp==2019.0
ipykernel==4.6.1
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
isodate==0.6.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==1.0.4
jupyterlab-server==1.0.0
kaggle==1.5.5
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
latexcodec==1.0.6
librosa==0.6.2
lightfm==1.15
lightgbm==2.2.3
llvmlite==0.24.0
lxml==3.8.0
Mako==1.1.0
Markdown==2.6.9
MarkupSafe==1.0
marshmallow==2.19.1
marshmallow-polyfield==3.2
matplotlib==2.2.2
mccabe==0.6.1
mido==1.2.8
minorminer==0.1.5
mistune==0.7.4
mkl==2019.0
mlxtend==0.16.0
modules==1.0.0
more-itertools==7.0.0
moviepy==0.2.3.2
mpld3==0.3
mpmath==1.0.0
mpop==1.5.1
msgpack==0.5.6
multidict==3.2.0
music21==5.3.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.4.3
nes-py==2.0.0
networkx==2.2
nltk==3.3
nose==1.3.7
notebook==5.1.0
ntlm-auth==1.2.0
numba==0.39.0
numexpr==2.6.8
numpy==1.16.3+mkl
oauthlib==2.1.0
object-detection==0.1
olefile==0.44
opencv-contrib-python==4.1.0.25
optional-django==0.3.0
ortools==6.9.5824
oset==0.1.3
packaging==19.0
pandas==0.20.3
pandocfilters==1.4.2
pathlib2==2.3.2
patsy==0.5.0
penaltymodel==0.15.3
penaltymodel-cache==0.3.1
penaltymodel-mip==0.1.3
PennyLane==0.3.1
PennyLane-PQ==0.2.1
PennyLane-qiskit==0.0.6
PennyLane-SF==0.2.1
pickleshare==0.7.4
Pillow==5.2.0
plotly==4.0.0
plotly-express==0.4.0
pluggy==0.9.0
ply==3.11
pprint==0.1
prettytensor==0.7.4
progressbar==2.5
projectq==0.4.2
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.6.1
py==1.8.0
py4j==0.10.7
pyasn1==0.4.2
pybind11==2.2.4
pybtex==0.22.2
pybtex-docutils==0.2.1
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pygame==1.9.4
pyglet==1.3.2
Pygments==2.2.0
PyJWT==1.7.1
pykdtree==1.3.1
pylatexenc==1.4
PyOpenGL==3.1.0
pyOpenSSL==17.4.0
pyparsing==2.2.0
pypiwin32==219
pyproj==1.9.5.1
pyresample==1.10.1
pyrsistent==0.15.4
PySocks==1.6.8
pyspark==2.4.3
pytest==4.4.1
pytest-cov==2.6.1
python-dateutil==2.7.3
python-editor==1.0.4
python-Levenshtein==0.12.0
python-slugify==3.0.2
pytz==2017.3
PyWavelets==1.0.0
pywin32==223
PyYAML==3.13
pyzmq==16.0.2
qiskit==0.10.1
qiskit-aer==0.2.0
qiskit-aqua==0.5.0
qiskit-chemistry==0.5.0
qiskit-ibmq-provider==0.2.2
qiskit-ignis==0.1.1
qiskit-terra==0.8.0
qmlt==0.7.1
qtconsole==4.3.1
Quandl==3.2.1
raven==6.9.0
rdflib==4.2.2
react==4.2.1
requests==2.19.1
requests-ntlm==1.1.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
resampy==0.2.1
retrying==1.3.3
s3transfer==0.1.13
scikit-image==0.15.0
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
semantic-version==2.6.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
slim==0.0.5.post1
smart-open==1.6.0
snowballstemmer==1.2.1
SPARQLWrapper==1.8.4
sparsesvd==0.2.2
speaklater==1.3
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-bibtex==0.4.2
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.6
statsmodels==0.10.0
stopit==1.1.2
StrawberryFields==0.10.0
StrawberryFields-gpu==0.8.0
SuRF==1.1.9
sympy==1.3
tables==3.4.4
tabulate==0.8.2
tensorboard==1.6.0
tensorflow==1.3.0
tensorflow-gpu==1.6.0
tensorflow-hub==0.1.1
tensorflow-tensorboard==0.1.6
tensorflowjs==0.6.5
termcolor==1.1.0
testpath==0.3.1
text-unidecode==1.2
textblob==0.15.1
tf==1.0.0
tflearn==0.3.2
Theano==1.0.2
toml==0.10.0
toolz==0.9.0
torch==0.4.1
torchfile==0.1.0
torchvision==0.2.1
tornado==4.5.2
TPOT==0.9.5
tqdm==4.28.1
traitlets==4.3.2
translation==1.0.5
tweepy==3.6.0
twython==3.7.0
update-checker==0.16
urllib3==1.21.1
utils==0.9.0
virtualenv==16.7.2
visitor==0.1.3
wcwidth==0.1.7
websocket-client==0.56.0
websockets==7.0
Werkzeug==0.12.2
widgetsnbextension==3.0.3
win-unicode-console==0.5
WTForms==2.2.1
xgboost==0.81
yarl==0.12.0
zipfile36==0.1.3
